<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL5InnoDBDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/valodik
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
        </property>

        <property name="hbm2ddl.auto">create</property>

        <mapping class="am.aca.orgflix.entity.List" />
        <mapping class="am.aca.orgflix.entity.Film" />
        <mapping class="am.aca.orgflix.entity.User" />
        <mapping class="am.aca.orgflix.entity.Cast" />
        <mapping class="am.aca.orgflix.entity.Genre" />
        <mapping class="am.aca.orgflix.entity.ListID" />

    </session-factory>
</hibernate-configuration>