<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <mvc:annotation-driven />
    <context:component-scan base-package="am.aca" />

    <context:property-placeholder location="classpath:connection.properties"/>

    <!-- DB data source. -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${DriverClass}" />
        <property name="jdbcUrl" value="${JdbcUrl}" />
        <property name="user" value="${user}" />
        <property name="password" value="${password}" />
        <property name="initialPoolSize" value="${InitialPoolSize}" />
        <property name="acquireIncrement" value="${AcquireIncrement}" />
        <property name="maxPoolSize" value="${MaxPoolSize}" />
        <property name="minPoolSize" value="${MinPoolSize}" />
    </bean>


    <bean id="jdbcUserDAO" class="am.aca.dao.jdbc.impljdbc.JdbcUserDAO" />
    <bean id="jdbcCastDAO" class="am.aca.dao.jdbc.impljdbc.JdbcCastDAO" />
    <bean id="jdbcFilmDAO" class="am.aca.dao.jdbc.impljdbc.JdbcFilmDAO" />
    <bean id="listDaoJdbc" class="am.aca.dao.jdbc.impljdbc.JdbcListDAO" />

    <bean id="userService" class="am.aca.service.impl.UserServiceImpl" />
    <bean id="castService" class="am.aca.service.impl.CastServiceImpl" />
    <bean id="filmService" class="am.aca.service.impl.FilmServiceImpl" />
    <bean id="listService" class="am.aca.service.impl.ListServiceImpl" />

    <mvc:resources mapping="/resources/**" location="/resources/"
                   cache-period="31556926"/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <property name="prefix" value="/WEB-INF/pages/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
</beans>